<%- include('./partials/header')%>
<form
action="/forgetpassword/<%=user._id%>"
method="POST"
class="container mt-5 text-center p-5 w-50"
>
<h3 class="fw-lighter mb-3">Forget Password</h3>
<input
    type="password"
    class="form-control m-auto w-75 p-2 mb-4"
    placeholder="********"
    name="password"
/>

<button class="p-2 btn btn-primary w-75 mb-4">
    Change Password
</button>
<br/>
<a href="/">home</a>
</form>

<%- include('./partials/footer')%>