<%- include('./partials/header')%>
<div class="container mt-5">
    <h1 class="text-dark success fw-brand fs-1">This is Homepage of Resume Maker.</h1>
    <a class="btn btn-primary mt-3" href="/signin">Signin to build resume</a>
</div>

<%- include('./partials/footer')%>
